* {
  padding: 0;
  margin: 0;
}

body::-webkit-scrollbar{
  width: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  margin: 20px 0px 0px 0px;
}

body{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
